@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.loader-container {
  display: inline-block;
}

@keyframes loading {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.mapboxgl-popup-close-button {
  padding: 0.1rem 0.25rem;
  font-size: 1.25rem;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.mapboxgl-popup {
  animation: fadein 0.2s;
}

.mapboxgl-popup-content {
  border-radius: 12px;
  padding: 13px 19px;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
  min-width: 400px;
}

.toggle-btn {
  background-color: #b7b9ba;
  border: 1px solid #aaa;
  border-radius: 99px;
  width: 65px;
  height: 28px;
  transition: background-color 0.1s ease, border-color 0.2 ease;
  cursor: pointer;
  position: relative;
}

.toggle-btn .thumb {
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 99px;
  transform: translateX(0);
  transition: left 0.15s ease;
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
}

.toggle-btn.toggled {
  background-color: #242424;
  border-color: #111;
}

.toggle-btn.toggled .thumb {
  left: calc(65px - 25px);
}